@font-face {
  font-family: 'GameplayFont';
  src: url(fonts/gamefont.ttf);
}

body {
  background-image: url('assets/gamebg.png');
  color: #d3d3d3;
  font-family: GameplayFont;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  margin-bottom: 20px;
}

#back-button {
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 450px; /* Adjust this value based on the size of your rectangle box */
  width: 91%; /* Ensure the image container takes the full width of the page */
  background-color: transparent;
  position: absolute;
  top: 53px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid green;
}

.image-container img {
  max-height: 20%;
  max-width: 100%;
  object-fit: cover;
}

.chat-container {
  width: 88%;
  font-family: GameplayFont;
  max-width: 3000px;
  height: 46%;
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.chat-box {
  font-family: GameplayFont;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.input-container {
  font-family: GameplayFont;
  display: flex;
  padding: 10px;
}

#user-input {
  font-family: GameplayFont;
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: black;
  color: green;
  outline: none;
}

button {
  font-family: GameplayFont;
  padding: 10px;
  border: none;
  background-color: green;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}
