body {
  background-image: url('assets/gamebg.png');
  color: #d3d3d3;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  margin-bottom: 20px;
}

#back-button {
  margin-bottom: 20px;
}

.chat-container {
  width: 88%;
  max-width: 3000px;
  height: 35%;
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  top: 540px; /* Adjust this value as necessary to position the chat box properly */
  left: 10px;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.input-container {
  display: flex;
  border-top: 1px solid green;
  position: absolute;
  bottom: 10px; /* Adjust this value to align with the semicolon */
  left: 20px; /* Adjust this value to align with the semicolon */
  width: calc(100% - 40px); /* Adjust to fit within the chat container */
}

#user-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: black;
  color: green;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  background-color: green;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}
