@font-face {
  font-family: 'GameplayFont';
  src: url(fonts/gamefont.ttf);
}

body {
  background-image: url('assets/gamebg.png');
  color: #d3d3d3;
  font-family: GameplayFont;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  margin-bottom: 20px;
}

#back-button {
  margin-bottom: 20px;
}

.chat-container {
  width: 88%;
  font-family: GameplayFont;
  max-width: 3000px;
  height: 46%; /* Increased height to accommodate chat box and input */
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: absolute; /* Changed from relative to absolute */
  bottom: 30px; /* Position the chat container at the bottom */
  left: 50%; /* Center the chat container horizontally */
  transform: translateX(-50%); /* Adjust the position to center properly */
}

.chat-box {
  font-family: GameplayFont;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.input-container {
  font-family: GameplayFont;
  display: flex;
  border-top: 1px solid green;
  padding: 10px; /* Add padding to avoid overlap */
}

#user-input {
  font-family: GameplayFont;
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: black;
  color: green;
  outline: none;
}

button {
  font-family: GameplayFont;
  padding: 10px;
  border: none;
  background-color: green;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}
