/* settings.css file */

@font-face {
    font-family: 'MenuTitle';
    src: url(fonts/Gameplay.ttf);
}

.settingsTitle {
    text-align: center;
    font-family: MenuTitle;
    font-size: 5vw;
    letter-spacing: 10px;
    line-height: 1.5;
    color: whitesmoke;
}

body {
    background-color: darkgray;
    /*background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

#items-container {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
}

#items-container::before {
    content: '';
    display: block;
    width: 25%; /* Adjust width as needed */
    height: 2px;
    background-color: red; /* Adjust color as needed */
    margin: 0 auto 20px auto; /* Adjust spacing as needed */
    margin-bottom: 20px; /* Space above the first button */

}

#items-container::after {
    content: '';
    display: block;
    width: 10%; /* Adjust width as needed */
    height: 2px;
    background-color: red; /* Adjust color as needed */
    margin: 0 auto 20px auto; /* Adjust spacing as needed */
    margin-top: 20px; /* Space below the last button */

}
